{% load static %}
<!-- TODO List -->
<!-- 
    (1) Make subject hide and appear when necessary
    (2) Add books to the daily recommendations page
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder-Library: {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/main.css" />
    <script src="{% static 'scripts/main.js' %}" defer></script>
</head>
<body>
    <div class="nav-bar-container">
        <h3 class="nav-bar-name">Coder's Library</h3>
        <span class="nav-bar-links">
            <a href="/" class="nav-bar-link">Home</a>
            <a href="/about" class="nav-bar-link">About</a>
            <a href="/books" class="nav-bar-link">Show All Books</a>
            <a href="/author" class="nav-bar-link">Authors</a>
            <span class="search-bar">
                <form action="/search" method="get">
                    <input type="text" name="title", placeholder="book name" />
                    <input type="submit" value="Search" />
                </form>
            </span>
        </span>
    </div>
    <div class="content-container">

        {% block content %}{% endblock %}

    </div>
</body>
</html>