{% extends 'base.html' %}
{% block content %}
<!-- For books we'll need to figure out how to cycle through the database to find our author based on book. -->

<h1>{{book.title}}</h1>
<img src="{{book.image}}" alt="{{book.title}}">
<p>Description: {{book.description}}</p>
<p>Author(s):{{book.author}}</p>
<p>Subject: {{book.subject}}</p>
<div><a href="{{book.link}}">Buy Book</a></div>
<div><a href="{% url 'book_update' book.pk %}">Update Book Information</a></div>
<div><a href="{% url 'book_delete' book.pk %}">Delete Recommendation</a></div>
{% endblock %}